body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
}
h1 {
    color: #333;
}
.grid-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
}
.grid-row {
    display: flex;
    gap: 20px;
    width: 100%; /* Ensure rows take up the full width */
    min-width: 100%; /* Prevent rows from shrinking */
}
.grid-item {
    position: relative;
    resize: none; /* Allow horizontal resizing */
    overflow: auto; /* Required for resize to work */
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    min-width: 300px; /* Minimum width to prevent shrinking too much */
    height: 350px; /* Fixed height */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content to the top */
    align-items: center; /* Center content horizontally */
    flex: 1 1 auto; /* Allow items to grow and shrink */
}
.grid-item.dragging {
    opacity: 0.5;
    transform: scale(0.95); /* Visual feedback for dragging */
}
.chart-container, .cpu-threads-container, .disks-container {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box; /* Ensure padding is included in width/height */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content to the top */
    align-items: center; /* Center content horizontally */
}
.chart-container h2, .cpu-threads-container h2, .disks-container h2 {
    margin: 0 0 10px 0; /* Remove top margin for headers */
    text-align: center; /* Center headers */
}
.diskList {
    width: 100%;
}
canvas {
    height: 80% !important;
    width: 100% !important;
}
.cpu-threads-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin: 0; /* Remove default table margin */
}
.cpu-threads-table th, .cpu-threads-table td {
    padding: 10px;
    border: 1px solid #ddd;
}
.cpu-threads-table th {
    background-color: #8c38ff;
    color: white;
}
.cpu-progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}
.cpu-progress-bar {
    height: 20px;
    background-color: #8c38ff;
    transition: width 0.3s ease;
}
.disk-item {
    margin-bottom: 20px;
}
.disk-name {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2em;
}
.progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}
.progress-bar {
    height: 20px;
    background-color: #8c38ff;
    width: 0%;
    transition: width 0.3s ease;
}
.disk-space-info {
    text-align: center;
    margin-top: 5px;
    font-size: 1em;
}
/* Other styles remain unchanged */


/* Refresh Rate Input and Button Container */
.refresh-rate-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.refresh-rate-label {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 8px;
    font-weight: bold;
}

.refresh-rate-controls {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between the input and button */
}
.refresh-rate-input {

    width: 220px;
    padding: 10px 12px;
    font-size: 1em;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.refresh-rate-input:focus {
    outline: none;
    border-color: #8c38ff;
    box-shadow: 0 0 4px rgba(140, 56, 255, 0.6);
}

.refresh-rate-input::placeholder {
    color: #aaa;
    font-style: italic;
}

.refresh-rate-button {
    padding: 10px 20px;
    background-color: #8c38ff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.refresh-rate-button:hover {
    background-color: #7326d1;
    box-shadow: 0 4px 12px rgba(140, 56, 255, 0.3);
}

.refresh-rate-button:active {
    background-color: #5b1ca9;
    box-shadow: 0 2px 8px rgba(140, 56, 255, 0.5);
}

.chart-container .network-dropdown {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 150px;
    z-index: 1; /* Ensures it stays above other elements */
}
.disks-container {
    width: 100%;
    margin: 0 auto;
    height: 350px; /* Fixed height for the container */
    background-color: #fff; /* Added background to the graph */
    border-radius: 8px; /* Rounded corners for the container */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.cpu-threads-container {
    width: 100%;
    margin: 0 auto;
    height: 350px; /* Fixed height for the container */
    background-color: #fff; /* Added background to the graph */
    border-radius: 8px; /* Rounded corners for the container */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow: auto;
}

.cpu-thread-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1.1em;
    font-weight: bold;
}
.cpu-progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

.cpu-threads-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.cpu-threads-table th, .cpu-threads-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.cpu-threads-table th {
    background-color: #8c38ff;
    color: white;
}

.cpu-progress-bar {
    height: 20px;
    background-color: #8c38ff;
    transition: width 0.3s ease;
}

/* General styles for the system info list */
ul.system-info {
    list-style-type: none; /* Remove default list bullets */
    padding: 0;
    margin: 0;
    background-color: #f9f9f9; /* Light gray background */
    border-radius: 8px; /* Rounded corners */
    max-width: 400px; /* Limit width */
    margin: 20px auto; /* Center the list with some margin */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

/* List item styles */
ul.system-info li {
    display: flex;
    justify-content: space-between; /* Space out the label and value */
    padding: 12px 20px;
    border-bottom: 1px solid #e0e0e0; /* Light gray separator between items */
    font-size: 16px; /* Text size */
    color: #333; /* Dark text color */
}

/* Remove bottom border for last item */
ul.system-info li:last-child {
    border-bottom: none;
}

/* Label styles */
ul.system-info .label {
    font-weight: bold;
    color: #007bff; /* Blue color for the labels */
    text-transform: uppercase; /* Capitalize the label text */
    width: 40%; /* Make sure label takes up less space than the value */
    font-size: 14px; /* Slightly smaller font size for labels */
}

/* Value styles */
ul.system-info li span {
    flex-grow: 1; /* Make sure value fills the remaining space */
    text-align: right; /* Align values to the right */
    color: #555; /* Slightly lighter color for values */
}

/* Hover effect for list items */
ul.system-info li:hover {
    background-color: #e9f5ff; /* Light blue background on hover */
    cursor: pointer; /* Pointer cursor on hover */
    transform: scale(1.02); /* Slight scale effect for hover */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transition */
}

/* resize handle*/
.resize-handle {
    position: absolute;
    top: 0;
    width: 10px; /* Width of the resize handle */
    height: 100%;
    background-color: transparent;
    cursor: ew-resize; /* Cursor for horizontal resizing */
    z-index: 1;
}

.resize-handle-left {
    left: 0;
}

.resize-handle-right {
    right: 0;
}